<?xml version="1.0"?>
<launch>
  <node name="eta_reference_node" type="eta_reference_node" pkg="quad_control">
    <remap from="/eta_odometry"   to="/hummingbird/odometryNED/eta"/>
    <remap from="/eta_d"          to="/hummingbird/trajectory"/>
    <remap from="/mu_hat"         to="/hummingbird/mu_hat"/>
    <remap from="/eta_reference"  to="/hummingbird/trajectory/eta"/>
    <param name="mass"  type="double"  value="0.68"/>
    <param name="kf"    type="double"  value="10"/>
    <param name="Ts"    type="double"  value="0.001"/>
  </node>
</launch>