<launch>
    <arg name="path" default=""/>
    <arg name="changeIdFrame" default="/talker/changes"/>
    <arg name="mav_name" default=""/>

	<!-- you can load an exisiting tree with <node ... args="tree.bt"> !-->
	<node pkg="octomap_server" type="octomap_tracking_server_node" name="octomap_talker" output="screen" args="$(arg path)">
		<param name="resolution" value="0.02" />
		<param name="frame_id" type="string" value="world" />
		<param name="sensor_model/max_range" value="4.0" />
		<remap from="cloud_in" to="/$(arg mav_name)/vi_sensor/camera_depth/depth/points"/>
	</node>
</launch>