<launch>
  <arg name="mav_name" default="hummingbird"/>
  <arg name="world_name" default="arena"/>
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="log_file" default="$(arg mav_name)" />
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <!-- The following line causes gzmsg and gzerr messages to be printed to the console
      (even when Gazebo is started through roslaunch) -->
  <arg name="verbose" default="false"/>
  <arg name="rvizconfig" default="$(find quad_control)/drone.rviz" />
  <arg name="use_sim_time" default="true" />

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find quad_control)/worlds/$(arg world_name).world" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <group ns="$(arg mav_name)">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>
    </include>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <node pkg="tf" type="static_transform_publisher" name="maptf" args="0 0 0 0 0 0  world /map  100"/>
    <node pkg="tf" type="static_transform_publisher" name="wNED" args="0 0 0 1.57079 0 3.14159  world worldNED  100"/>
    <node pkg="tf" type="static_transform_publisher" name="bodyNED" args="0 0 0 1.57079 0 3.14159  hummingbird/base_link hummingbird/base_linkNED  100"/>
      
    <include file="$(find quad_control)/launch/plot_juggler.launch"/>


    <node name="odometry_node" type="odometry_node" pkg="quad_control">
      <remap  from="/gazebo_odometry" to="/hummingbird/ground_truth/odometryNED"/>
      <remap  from="/odometry"        to="/hummingbird/odometryNED"/>
    </node>

    <node name="trajectory_node" type="trajectory_node" pkg="quad_control">
      <remap  from="/odometry"    to="/hummingbird/odometryNED"/>
      <remap  from="/trajectory"  to="/hummingbird/trajectory"/>
    </node>

    <node name="outer_loop_node" type="outer_loop_node" pkg="quad_control">
      <param  name="mass" type="double" value="0.68"/>
      <param  name="Kp"   type="double" value="10"/>
      <param  name="Kd"   type="double" value="1"/>
      <remap  from="/trajectory"  to="/hummingbird/trajectory"/>
      <remap  from="/mu_hat"      to="/hummingbird/mu_hat"/>
    </node>


    <node name="eta_reference_node" type="eta_reference_node" pkg="quad_control">
      <param  name="mass"     type="double"  value="0.68"/>
      <param  name="kf_d"     type="double"  value="10"/>
      <param  name="kf_dd"    type="double"  value="10"/>
      <remap  from="/mu_hat"  to="/hummingbird/mu_hat"/>
      <remap  from="/eta_ref" to="/hummingbird/eta_reference"/>
    </node>

    <!--  
    <node name="inner_loop_node" type="inner_loop_node" pkg="quad_control">
      <param name="mass"  type="double"  value="0.68"/>
      <param name="Ixx"   type="double"  value="0.007"/>
      <param name="Iyy"   type="double"  value="0.007"/>
      <param name="Izz"   type="double"  value="0.012"/>
      <param name="v"     type="double"  value="1"/>
      <param name="Kp"    type="double"  value="100"/>
      <param name="Kd"    type="double"  value="10"/>
    </node>


      <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"  />
    -->
  </group>
</launch>
