<?xml version="1.0"?>
<launch>
  <arg name="mav_name" default="hummingbird"/>
  <arg name="world_name" default="basic"/>
  
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find quad_control)/worlds/$(arg world_name).world" />
  
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="extra_gazebo_args" default=""/>
    <arg name="gui" default="true"/>
    <arg name="recording" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="physics" default="ode"/>
    <arg name="verbose" default="false"/>
    <arg name="output" default="screen"/>
    <arg name="respawn_gazebo" default="false"/>
    <arg name="use_clock_frequency" default="true"/>
    <arg name="pub_clock_frequency" default="10000"/>
    <arg name="enable_ros_network" default="true" />
    <arg name="server_required" default="false"/>
    <arg name="gui_required" default="true"/>
  </include>

  <group ns="$(arg mav_name)">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo" />
      <arg name="enable_logging" value="false" />
      <arg name="enable_ground_truth" value="true" />
      <arg name="log_file" value="$(arg mav_name)"/>
    </include>
  </group>
</launch>