<launch>
  <arg name="mav_name" default="hummingbird"/>
  <arg name="world_name" default="basic"/>

  <!-- Parameters of ROS -->
  <arg name="use_sim_time" default="true"/>
  <arg name="frequency" default="1000"/>

  <!-- Paramters of controller -->
  <arg name="Kp_ol" default="25"/>
  <arg name="Ki_ol" default="0"/>
  <arg name="Kd_ol" default="5"/>

  <!-- START LAUNCHER-->
  <param name="use_sim_time" value="$(arg use_sim_time)" />

  <!-- Start gazebo and spawn drone-->
  <include file="$(find quad_control)/launch/start_spawn_mav.launch">
    <arg name="mav_name" value="$(arg mav_name)" />
    <arg name="world_name" default="$(arg world_name)"/>
  </include>

  <!-- Start Lee Controller -->

  <include file="$(find quad_control)/launch/start_lee_controller.launch">
    <arg name="mav_name" value="$(arg mav_name)" />
    <arg name="world_name" default="$(arg world_name)"/>
  </include>

  <!-- TEST NODE -->
  <include file="$(find quad_control)/launch/start_odometry.launch">
    <arg name="mav_name"   default="$(arg mav_name)"/>
    <arg name="frequency"  default="$(arg frequency)"/>
  </include>

  <include file="$(find quad_control)/launch/controller.launch">
    <arg name="frequency"         default="$(arg frequency)"/>
    <arg name="topic_odometry"    default="/$(arg mav_name)/odometryNED"/>
    <arg name="topic_trajectory"  default="/$(arg mav_name)/desiredTrajectory"/>
    <arg name="topic_mu"          default="/$(arg mav_name)/desiredMu"/>
    <arg name="Kp_ol"             default="$(arg Kp_ol)"/>
    <arg name="Kd_ol"             default="$(arg Kd_ol)"/>
    <arg name="Ki_ol"             default="$(arg Ki_ol)"/>
  </include>
  
  <node name="plotjuggler" pkg="plotjuggler" type="plotjuggler"
    args="--layout $(find quad_control)/config/plotJugglerConfig.xml"
  />
</launch>
